@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@400;500;600;700;800;900;1000&display=swap');
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Ysabeau Office', sans-serif;
}

body {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAABhJREFUKFNjZMAD3l257ss4PBSAvILPJwAPGRc57aMbnwAAAABJRU5ErkJggg==) repeat;

}
.img-box img {
    width: 200px;
    height: 200px;
}

.box {
    display: flex;
    position: absolute;
    left: 50%;
    top: 55%;
}

.animate__animated.animate__bounce {
--animate-duration: 1s;
}

.intro-modal-box {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.intro-modal {
    display: inline;
    margin-top: 0;
    width: 90vw;
    height: auto;
    z-index: 1;
}

.img-box {
    display: flex;
    animation: imgEnd 13s linear 1;
}

#pleasure{
    position: absolute;
    left: 33vw;
    top: 29%;
    z-index: 3;
}

#angry {
    position: absolute;
    right: 34vw;
    top: 29%;
    z-index: 2;
}

#happy {
    position: absolute;
    left: 27vw;
    top: 46%;
    z-index: 6;
}

#sad {
    position: absolute;
    right: 28vw;
    top: 46%;
    /* top: 60vh; */
    z-index: 4;
}
#proud {
    position: absolute;
    left: 39vw;
    top: 56%;
    z-index: 5;
}

.start {
    position: absolute;
    background-color: #8E9AAF;
    width: 45vw;
    height: 15vh;
    margin: 0;
    border-radius: 10px;
    left: 25%;
    top: 45%;
    z-index: 10;
    animation: start 12s linear 1; 
}

.start img {
    position: absolute;
    width: 80vh;
    height: auto;
    left: 2vw;
    top: -15%;
}

.loading-box {
    position: absolute;
    left: 28vw;
    top: 47vh;
    z-index: 9;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 216px;

    animation: loading 13s linear 1;
}

.loading-title {
    margin-bottom: 13px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.3333;
    /* color: rgb(119, 119, 119); */
    color: rgb(35, 35, 35);
    animation-name: flicker;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.progress-bar {
    position: relative;
    width: 250px;
    height: 20px;
    border-radius: 100px;
    /* background-color: rgb(201, 201, 201); */
    background-color: #FFE8A3;
    overflow: hidden;
}

.progress-bar-gauge {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 100px;

    background-color: rgb(171, 213, 226);
    animation-name: loading-bar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes imgEnd {
    0% {
    
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
    
        opacity: 0;
    }
}

@keyframes start {
    0% {
    
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    80%{
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loading {
    0% {
    
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
    
        opacity: 0;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes loading-bar {
    0% {
        width: 0;
        opacity: 1;
    } 80% {
        width: 100%;
        opacity: 1;
    } 100% {
        width: 100%;
        opacity: 0;
    }
}

@media screen and (min-width: 1500px){
    .start img{
        left: 4vw;
        top: -15%;
    }
    
}

@media screen and (min-width: 1500px){
    #pleasure{
        left: 35vw;
        top: 29%;
    }
    
}

@media screen and (min-width: 1500px){
    #angry{
        left: 45vw;
        top: 29%;
    }
    
}
@media screen and (min-width: 1500px){
    #sad{
        left: 49vw;
        top: 44%;
    }
    
}

@media screen and (min-width: 1500px){
    #happy{
        left: 31vw;
        top: 44%;
    }
}

@media screen and (min-width: 1500px){
    #proud{
        left: 40vw;
        top: 54%;
    }
}

@media screen and (min-width: 1500px){
    .loading-box {
        left: 32vw;
        top: 40%;
    }

}

@media screen and (max-width: 768px){
    .box {
        top: 50%;
    }
    
}

@media screen and (max-width: 768px){
    #pleasure{
    left: 40%;
    top: 35%;
    z-index: 3;
    }
}

@media screen and (max-width: 768px){
    #angry{
        right: 39%;
        top: 35%;
        z-index: 2;
    }
}

@media screen and (max-width: 768px){
    #sad{
    right: 35%;
    top: 47%;
    z-index: 4;
    }
}

@media screen and (max-width: 768px){
    #proud{
        left: 44%;
        top: 55%;
        z-index: 5;
    }
}

@media screen and (max-width: 768px){
    #happy{
        left: 34%;
        top: 45%;
        z-index: 6;
    }
}

/* 이모지 줄이기 */
@media screen and (max-width: 768px){
    .img-box img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 768px){
    .start {
        width: 45vw;
        height: 8vh;
        top: 42%;
    }
}

@media screen and (max-width: 768px){
    .start img {
        width: 45vw;
        height: auto;
        left: 1vw;
        top: 4%;
    }
}
@media screen and (max-width: 768px){
    .loading-title {
    font-size: 10px;
    margin-bottom: 5px;
    }
}


@media screen and (max-width: 768px){
    .loading-box {
    left: -6%;
    top: 15%;
    z-index: 9;
    }

}

@media screen and (max-width: 768px){
    .progress-bar {
        width: 70px;
        height: 8px;
        top: 0;
    }
}


@media screen and (max-width: 768px){
    .progress-bar-gauge {
        height: 8px;
    }
}

