

body {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAABhJREFUKFNjZMAD3l257ss4PBSAvILPJwAPGRc57aMbnwAAAABJRU5ErkJggg==

    );
}

.friends {
    top: 60px;
    font-size: 40px;
    text-align: center;

}
.main1{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
    padding: 0 100px 0 100px;
    
}   
/* 친구카드css */

.frCard{

}
.frName{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    
}
.frImg{
    display: flex;
    margin-bottom: 40px;
    margin-top: 30px;
    padding-top: 10px;
}
.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
    
}
.frBtn{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

}

/* icon */

.heart{
    font-size: 70px;
}
.heart:hover {
    
    cursor: pointer;
    font-size: 60px;
    margin: 5px 0 0 5px;
}
.redHeart{
    position: absolute;
    color: red;
    font-size: 70px;
    
}
.redHeart:hover {
    cursor: pointer;
    font-size: 60px;
    margin: 5px 0 0 5px;

}
.plane {
    font-size: 70px;
}
.plane:hover {
    cursor: pointer;
    font-size: 60px;
    margin: 5px 5px 0 0;
}
.boldplane{
    font-size: 70px;
    display: none;
}

/* -------------- */


swiper-container {
    width: 350px;
    height: 550px;
   
  }

  swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  swiper-slide:nth-child(1n) {
    background-color: #DEE2FF;
  }

  swiper-slide:nth-child(2n) {
    background-color: #FEEAFA;
  }

  swiper-slide:nth-child(3n) {
    background-color: #EFD3D7;
  }

  swiper-slide:nth-child(4n) {
    background-color: #CBC0D3;
  }

  swiper-slide:nth-child(5n) {
    background-color: #8E9AAF;
  }
.box1 {
    width:  450px;
    height: 550px;
    background-color: rgba(233, 202, 212, 0.614);
    border-radius: 18px;
}
.swiper {
    width: 600px;
    height: 300px;
}
#date2{
    font-size: 40px;
    top : -50px;
}
